// fonts
$font-poppins: "Poppins";
$font-cormorant: "Cormorant Garamond";

// width screens
$min-mobile-width: 320px;
$max-mobile-width: 767px;
$max-tablet-width: 1023px;
$max-desktop-width: 1920px;
$max-content-desktop-width: 1170px;

// colors
$color-grey-text: #9b9997;
$color-darkest-text: #000000;
$color-darker-text: #1d1613;
$color-dark-focus: #211e1e;
$color-text-light: #ffffff;
$color-text-light-opacity: rgba(255, 255, 255, 0.75);
$color-light-focus: #e4dcdc;
$color-border-grey: #f6f5f4;
$color-background-grey: #a87b62;
