.page-header {
  padding: 8px 0 19px 0;

  @include tablet {
    padding: 30px 0 25px 0;
  }

  @include mobile {
    padding: 20px 0 15px 0;
  }
}

.page-header--open {
  @include tablet {
    padding-bottom: 80px;
    background-color: $color-background-grey;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .page-header__about-us {
      display: flex;
    }

    .page-header__site-nav {
      display: flex;
    }

    .page-header__user-auth {
      display: block;
    }

    .page-header__search {
      display: block;
    }

    .page-header__menu-button-icon {
      color: $color-text-light;
    }

    .page-header__logo-img {
      color: $color-text-light;
    }

    .page-header__basket-icon {
      color: $color-text-light;
    }
  }
}

.page-header--nojs {
  @include tablet {
    padding-bottom: 80px;
    background-color: $color-background-grey;

    .page-header__about-us {
      display: flex;
    }

    .page-header__site-nav {
      display: flex;
    }

    .page-header__user-auth {
      display: block;
    }

    .page-header__search {
      display: block;
    }

    .page-header__menu-button {
      display: none;
    }

    .page-header__logo-img {
      color: $color-text-light;
    }

    .page-header__basket-icon {
      color: $color-text-light;
    }
  }
}

.page-header__wrapper {
  display: grid;
  grid-template-columns: 220px minmax(300px, 1fr) minmax(73px, auto) minmax(46px, auto);
  align-items: center;
  row-gap: 13px;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    margin-left: -98px;
    width: calc(100% + 98px * 2);
    height: 1px;
    background-color: $color-border-grey;
    grid-row: 2;
    grid-column: 1 / -1;
    align-self: start;

    @include tablet {
      display: none;
      align-self: center;
    }
  }

  @include tablet {
    overflow: visible;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0;
  }
}

.page-header__menu-button {
  display: none;

  @include tablet {
    grid-row: 1;
    grid-column: 1;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    display: block;
    width: 25px;
    height: 16px;
    color: $color-darker-text;
    cursor: pointer;
  }
}

.page-header__menu-button:hover svg,
.page-header__menu-button:focus svg {
  @include setHoverByDarkText();
}

.page-header__menu-button:focus svg {
  @include setFocusByLightBackground();
}

.page-header__menu-button:active {
  transform: scale(0.8);
}



.page-header__menu-button-icon {
  @include mobile {
    margin-top: -2px;
    width: 25px;
    height: 18px;
  }
}

.page-header__search {
  grid-row: 1;
  grid-column: 1;

  @include tablet {
    grid-row: 2;
    grid-column: 1 / -1;
  }
}

.page-header__logo {
  margin-top: 22px;
  grid-row: 1;
  grid-column: 1 / -1;
  justify-self: center;

  @include tablet {
    margin-top: 0;
    align-self: start;
  }
}

.page-header__logo-img {
  color: $color-background-grey;

  @include mobile {
    width: 52px;
    height: 52px;
  }
}

.page-header__user-auth {
  grid-row: 1;
  grid-column: 3;

  @include tablet {
    grid-row: 5;
    grid-column: 1 / -1;
  }
}

.page-header__user-nav {
  grid-row: 1;
  grid-column: 4;

  @include tablet {
    grid-row: 1;
    grid-column: 3;
    justify-self: end;
  }
}

.page-header__site-nav {
  grid-row: 2;
  grid-column: 1 / -1;
  justify-self: center;

  @include tablet {
    grid-row: 3;
    justify-self: start;
  }
}

.page-header__about-us {
  @include tablet {
    grid-row: 4;
    grid-column: 1 / -1;
  }
}
