.search {
  margin-top: -4px;
  margin-left: -12px;
  width: min-content;
  height: 40px;
  position: relative;

  @include tablet {
    margin: 36px 0 45px 0;
    display: none;
    width: 100%;
  }

  @include mobile {
    margin: 25px 0 36px 0;
  }
}

.search input {
  @include font($font-poppins, 500);

  padding-left: 42px;
  width: 220px;
  height: 100%;
  border: none;
  font-size: 14px;
  line-height: 21px;
  color: $color-darkest-text;
  border-radius: 21px;

  &::placeholder {
    color: $color-grey-text;

    @include tablet {
      color: transparent;
    }
  }

  @include tablet {
    width: 100%;
    color: $color-text-light;
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.search input:hover {
  box-shadow: 0 0 0 1px $color-grey-text;

  @include tablet {
    @include setFocusByDarkBackground();
  }
}

.search input:focus {
  @include setFocusByLightBackground();

  @include tablet {
    @include setFocusByDarkBackground();
  }
}

.search button {
  margin: 0;
  padding: 0;
  width: 14px;
  height: 14px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.search button:hover,
.search button:focus {
  opacity: 0.7;
}

.search button:focus {
  @include setFocusByLightBackground();

  @include tablet {
    @include setFocusByDarkBackground();
  }
}

.search button:active {
  opacity: 0.5;
}

.search svg {
  color: #000000;

  @include tablet {
    color: $color-background-white;
  }
}
