.site-nav {
  margin: -5px -17.5px;
  padding-top: 20px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;

  @include tablet {
    margin: 0 0 42px 0;
    padding: 0;
    display: none;
    flex-direction: column;
  }

  @include mobile {
    margin-bottom: 30px;
  }
}

.site-nav li {
  margin: 5px 17.5px;

  @include tablet {
    margin: 0;
  }
}

.site-nav li:not(:last-child) {
  @include tablet {
    margin-bottom: 21px;
  }
}

.site-nav a {
  @include font($font-poppins, 500);

  font-size: 16px;
  line-height: 24px;
  color: $color-darker-text;
  text-decoration: none;

  @include tablet {
    font-size: 24px;
    line-height: 36px;
    color: $color-text-light;
  }
}

.site-nav a:hover,
.site-nav a:focus {
  @include setHoverByDarkText();
}

.site-nav a:focus {
  @include setFocusByLightBackground();
}

.site-nav a:active {
  @include setActiveByDarkText();
}
