.user-auth {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include tablet {
    display: none;
  }
}

.user-auth__login a {
  @include font($font-poppins, 500);

  font-size: 14px;
  line-height: 21px;
  color: $color-darker-text;
  text-decoration: none;

  @include tablet {
    font-size: 18px;
    line-height: 130%;
    color: $color-text-light;
  }
}

.user-auth__login a:hover,
.user-auth__login a:focus {
  @include setHoverByDarkText();
}

.user-auth__login a:focus {
  @include setFocusByLightBackground();
}

.user-auth__login a:active {
  @include setActiveByDarkText();
}
