.user-nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-nav__basket a {
  @include font($font-poppins, 500);

  font-size: 14px;
  line-height: 21px;
  color: $color-darker-text;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

.user-nav__basket--open svg {
  @include tablet {
    color: $color-background-white;
  }
}

.user-nav__basket-icon {
  display: none;

  @include tablet {
    display: block;
  }

  @include mobile {
    width: 20px;
    height: 18px;
  }
}

.user-nav__basket-text {
  @include tablet {
    display: none;
  }
}

.user-nav__basket a:hover,
.user-nav__basket svg:hover,
.user-nav__basket a:focus {
  @include setHoverByDarkText();
}

.user-nav__basket a:focus {
  @include setFocusByLightBackground();
}

.user-nav__basket a:active {
  @include setActiveByDarkText();

  @include tablet {
    transform: scale(0.8);
  }
}
